/* General styles for the fare calculator */
.fare-calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
}

/* To control the width of the Select dropdowns */
.select-dropdown {
  width: 100%; 
  max-width: 400px;
}

/* Styling the button */
.calculate-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

.calculate-button:hover {
  border-color: #646cff;
}

.calculate-button:focus,
.calculate-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Ensuring dropdown options are styled */
.select-dropdown .react-select__menu-list {
  background-color: white;
}

.select-dropdown .react-select__option:hover {
  background-color: lightgrey;
}

@media (max-width: 600px) {
  .fare-calculator {
    padding: 15px;
    gap: 15px;
  }

  .select-dropdown {
    max-width: 100%;
  }

  .calculate-button {
    padding: 0.5em 1em;
    font-size: 0.9em;
  }

  h1 {
    font-size: 1.5em;
    text-align: center;
  }
}

.vertical-graph {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 20px;
  position: relative;
}

.node-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.node {
  width: 20px;
  height: 20px;
  background-color: #1a73e8;
  border-radius: 50%;
  border: 2px solid #000;
  margin-right: 10px;
}

.station-name {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.node-container:not(:last-child) .node {
  position: relative;
}

.node-container:not(:last-child) .node::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 9px;
  width: 2px;
  height: 14px;
  background-color: #000;
}

.fare-time-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  max-width: 400px;
  margin: 10px auto;
  background-color: #646cff24;
}

.fare-item {
  font-size: 18px;
  color: #333;
  margin: 0 10px;
  font-family: Arial, sans-serif;
}

.fare-item strong {
  font-weight: bold;
}

.path-container {
  max-width: 400px;
  margin: 0 auto;
}
